# Rename this file to .env and update the variables below

# Path to the folder containing your notes
# Example: C:\Users\YourName\Documents\Obsidian
NOTES_DIRECTORY=

# Embedding Model Configuration
EMBEDDING_MODEL_NAME=all-MiniLM-L6-v2